################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FluentValidationApp.Web/bin/Debug/net7.0
